<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daxi.mapper.GoodsTagMapper">



    <select id="listTagsBySpuId" resultType="com.daxi.domain.dto.GoodsTagDTO">
        SELECT
            t.id AS id,
            t.tag_name AS tagName
        FROM goods_tag_relation tr
                 INNER JOIN goods_tag t ON tr.tag_id = t.id
        WHERE tr.spu_id = #{spuId}
        ORDER BY t.sort DESC
    </select>

    <select id="listTagsBySpuIds" resultType="com.daxi.domain.bo.GoodsTagBO">
        SELECT
        t.id AS id,
        tr.spu_id AS spuId,
        t.tag_name AS tagName,
        t.sort AS sort
        from goods_tag_relation tr
        inner JOIN goods_tag t ON tr.tag_id = t.id
        where tr.spu_id in
        <foreach collection="spuIds" item="spuId" open="(" close=")" separator=",">
            #{spuId}
        </foreach>
        ORDER BY t.sort DESC
    </select>

</mapper>